.notify-wind{
    height: 70px;
    background: #999999;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    color: green;
    font-size: 25px;
    font-weight: bold;
    font-family: Calibri;
    transition: opacity 400ms;
}
.notify-wind>img{
    width: 40px;
    height: 40px;
    object-fit: scale-down;
}
.visible_notify{
    opacity: 1;
}
.err>span{
    color: red;
}