.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16pt;color:#50a0dc;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14pt;color:#3c78aa;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h3
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 12pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}

@font-face
{
font-family:"Font Awesome 6 Free";
font-style:normal;
font-weight:900;
font-display:block;
src:url("webfonts/fa-solid-900.woff2") format("woff2"), url("webfonts/fa-solid-900.ttf") format("truetype");
}

table.de-text-block
{
border-collapse:separate;
border-spacing:0px;
}

table.de-text-block > tbody > tr > td.de-tb-icon
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-text
{
vertical-align:top;
width:100%;
}

table.de-text-block > tbody > tr > td.de-tb-icon > span.de-text-block-icon, table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:inline-block;
font-family:"Font Awesome 6 Free";
font-weight:900;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-style:normal;
font-variant:normal;
line-height:1;
text-rendering:auto;
width:1.25em;
text-align:center;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:none;
}

table.de-text-block-info
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#d9edf7;border-left-style:solid;border-left-width:1px;border-left-color:#bce8f1;border-top-style:solid;border-top-width:1px;border-top-color:#bce8f1;border-right-style:solid;border-right-width:1px;border-right-color:#bce8f1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#bce8f1;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#317096;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-info > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-note
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fafafa;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#999999;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-note > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-success
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#dff0d8;border-left-style:solid;border-left-width:1px;border-left-color:#d6e9c6;border-top-style:solid;border-top-width:1px;border-top-color:#d6e9c6;border-right-style:solid;border-right-width:1px;border-right-color:#d6e9c6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d6e9c6;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#3c763d;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-success > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-warning
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fcf8e3;border-left-style:solid;border-left-width:1px;border-left-color:#faebcc;border-top-style:solid;border-top-width:1px;border-top-color:#faebcc;border-right-style:solid;border-right-width:1px;border-right-color:#faebcc;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#faebcc;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#f0ad4e;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-error
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2dede;border-left-style:solid;border-left-width:1px;border-left-color:#ebccd1;border-top-style:solid;border-top-width:1px;border-top-color:#ebccd1;border-right-style:solid;border-right-width:1px;border-right-color:#ebccd1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#ebccd1;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#d9534f;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-error > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-quote
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2f2f2;border-left-style:solid;border-left-width:3px;border-left-color:#c8c8c8;border-top-style:none;border-top-width:1px;border-top-color:#000000;border-right-style:none;border-right-width:1px;border-right-color:#000000;border-bottom-style:none;border-bottom-width:1px;border-bottom-color:#000000;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-spoiler
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:transparent;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_2B1F6714A3
{
	font-family: "arial";
	font-size: 12pt;
	color:#000000;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_51752156DC
{
	color:#000000;
}
span.de_6D2D8B1FD4
{
	font-size: 12pt;
}
span.de_7384113621
{
	font-size: 12pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_75F6C3F379
{
	font-family: "ui-monospace";
	font-size: 9pt;
	color:#24292f;
}
span.de_8188E2D497
{
	font-family: "u2000";
	font-size: 12pt;
	color:#111111;
}
span.de_86A8A5B366
{
	font-size: 24pt;
}
span.de_BE5248E84C
{
	font-family: "Lato";
	font-size: 12pt;
	color:#404040;
}
span.de_CE8F7858DA
{
	font-size: 18pt;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, disc) '\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, disc) '\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, disc) '\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4 > div > * {
	text-indent: 0px;}
.list-counter-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4, decimal) '.\00a0';
	counter-increment: list-counter-4;
}
.list-counter-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5 > div > * {
	text-indent: 0px;}
.list-counter-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5, disc) '\00a0';
	counter-increment: list-counter-5;
}
.list-counter-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-6 > div > * {
	text-indent: 0px;}
.list-counter-6 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-6, disc) '\00a0';
	counter-increment: list-counter-6;
}
.list-counter-6 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-7 > div > * {
	text-indent: 0px;}
.list-counter-7 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-7, disc) '\00a0';
	counter-increment: list-counter-7;
}
.list-counter-7 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-8 > div > * {
	text-indent: 0px;}
.list-counter-8 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-8, disc) '\00a0';
	counter-increment: list-counter-8;
}
.list-counter-8 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-9 > div > * {
	text-indent: 0px;}
.list-counter-9 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-9, disc) '\00a0';
	counter-increment: list-counter-9;
}
.list-counter-9 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-10 > div > * {
	text-indent: 0px;}
.list-counter-10 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-10, disc) '\00a0';
	counter-increment: list-counter-10;
}
.list-counter-10 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-11 > div > * {
	text-indent: 0px;}
.list-counter-11 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-11, disc) '\00a0';
	counter-increment: list-counter-11;
}
.list-counter-11 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-12 > div > * {
	text-indent: 0px;}
.list-counter-12 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-12, disc) '\00a0';
	counter-increment: list-counter-12;
}
.list-counter-12 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
