.menu-but {
    display: flex;
    width: 100%;
    height: 60px;
    min-height: 44px;
    padding: 0 2rem;
    margin-top: 8px;
    margin-bottom: 8px;
    outline: none;
    align-items: center;
    transition: all 320ms;
    z-index: 100;
    background: #999999;
    border: 2px solid #cecece;
    border-radius: 8px;
    color: #333333;
    text-align: center;
    font-family: Comfortaa, cursive;
    font-size: 23px;
}
.menu-but:not([disabled]):hover {
    outline: none;
    background: #18656e;
    cursor: pointer;
}
.menu-but:not([disabled]):focus {
    outline: none;
    border: 2px dashed #cecece;
    border-radius: 8px;
}
.menu-but:not([disabled]):active {
    outline: none;
    background: #999999;
    cursor: pointer;
}
.menu-but:disabled {
    cursor: default;
    color: #666666;
}

.closeup {
    position: absolute;
    top: 10px;
    left: 280px;
    width: 38px;
    height: 38px;
    outline: inherit;
    transition: left 400ms;
    background: #999999;
    border-radius: 10px;
}
.closeup:hover {
    outline: none;
    background: #18656e;
    cursor: pointer;
}
.closeup:focus {
    outline: none;
    border: 2px dashed #cecece;
    border-radius: 8px;
}
.closeup:active {
    outline: none;
    background: #999999;
    cursor: pointer;
}
.opened_panel > .closeup {
    left: 10px;
}

.back-but {
    position: absolute;
    top: 10px;
    right: 280px;
    width: 38px;
    height: 38px;
    opacity: 0;
    transition: opacity 400ms;
    background: #999999;
    border-radius: 10px;
}
.back-but:hover {
    outline: none;
    background: #18656e;
    cursor: pointer;
}
.back-but:focus {
    outline: none;
    border: 2px dashed #cecece;
    border-radius: 8px;
}
.back-but:active {
    outline: none;
    background: #999999;
    cursor: pointer;
}
.back-but > img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.opened_panel > .back-but {
    right: 10px;
    opacity: 1;
}
