.basic-range {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80%;
    margin: 5px 0;
    transition: opacity 400ms;
    background: none;
    border: 2px solid #999999;
    border-radius: 8px;
}
.basic-range:focus {
    outline: none;
    border: 2px dashed #cecece;
    border-radius: 8px;
}
.basic-range:disabled {
    opacity: 0.5;
    cursor: default;
}

.basic-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #3071a9;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 0.2px solid #010101;
    border-radius: 1px;
}
.basic-range:not([disabled]):hover::-webkit-slider-runnable-track {
    cursor: pointer;
}
.basic-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    margin-top: -7px;
    border: 1px solid #000000;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
.basic-range:not([disabled]):hover::-webkit-slider-thumb {
    cursor: pointer;
}

.basic-range::-moz-range-track {
    width: 100%;
    height: 4px;
    background: #3071a9;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 0.2px solid #010101;
    border-radius: 1px;
}
.basic-range:not([disabled]):hover::-moz-range-track {
    cursor: pointer;
}
.basic-range::-moz-range-thumb {
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    margin-top: -7px;
    border: 1px solid #000000;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
.basic-range:not([disabled]):hover::-moz-range-thumb {
    cursor: pointer;
}