.main_panel {
    position: absolute;
    top: 10px;
    left: -260px;
    width: 300px;
    max-height: 90vh;
    padding: 58px 10px 10px;
    transition: all 400ms;
    z-index: 9999;
    background: none;
    border-radius: 6px;
}

.opened_panel {
    left: 10px;
    background: #666666;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    max-height: 90vh;
    opacity: 0;
    transition: opacity 400ms;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #999999 #666666;
    scrollbar-width: thin;
}
.opened_main_panel > .content {
    opacity: 1;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background-color: #666666;
}
::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
}

.basic-text {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80%;
    height: 30px;
    margin: 5px 0;
    outline: none;
    background: none;
    border: 2px solid #999999;
    border-radius: 8px;
    color: #333333;
    text-align: center;
    font-family: Comfortaa, cursive;
    font-size: 20px;
}
.basic-text:focus {
    outline: none;
    border: 2px dashed #cecece;
    border-radius: 8px;
}
.basic-text:disabled {
    opacity: 0.5;
    cursor: default;
}

.check-label {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

input[type=checkbox] {
    margin: auto;
}

.hidden {
    display: none;
}