.parameter {
    width: 100%;
    background: #999999;
    border-radius: 10px;
    padding: 1px;
    margin: 0 1px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    font-family: Comfortaa, cursive;
    font-size: 20px;
}