.main_panel {
    position: absolute;
    top: 10px;
    left: -260px;
    width: 300px;
    max-height: 90vh;
    padding: 58px 10px 10px;
    transition: all 400ms;
    z-index: 9999;
    background: none;
    border-radius: 6px;
}

.opened_panel {
    left: 10px;
    max-height: 90vh;
    background: #666666;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    max-height: 90vh;
    opacity: 0;
    transition: opacity 400ms;
    scroll-behavior: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.opened_panel > .content {
    opacity: 1;
}

.closeup {
    position: absolute;
    top: 10px;
    left: 280px;
    width: 38px;
    height: 38px;
    outline: inherit;
    transition: left 400ms;
    background: #999999;
    border-radius: 10px;
}
.opened_panel > .closeup {
    left: 10px;
}


.burger {
    position: relative;
    transform: translateY(2px);
}

.burger_or .burger {
    transform: translateY(0);
}

.burger::after, .burger, .burger::before {
    content: '';
    width: 24px;
    border-radius: 4px;
    transition: transform .6s ease-in-out, margin .6s ease-in-out;
}

.burger::after, .burger::before {
    display: block !important;
    height: 4px;
    background: #fff;
}

.burger::after {
    margin-top: 0;
    transform: rotate(45deg) translateY(-3px) translateX(-3px);
}

.burger::before {
    transform: rotate(-45deg);
}

.burger_or .burger::after {
    margin-top: 4px;
    transform: none;
}

.burger_or .burger::before {
    transform: none;
}

.menu-but {
    display: flex;
    width: 100%;
    height: 60px;
    min-height: 44px;
    padding: 0 2rem;
    margin-top: 8px;
    margin-bottom: 8px;
    outline: none;
    align-items: center;
    transition: all 320ms;
    z-index: 100;
    background: #999999;
    border: 2px solid #cecece;
    border-radius: 8px;
    color: #333333;
    text-align: center;
    font-family: Comfortaa, cursive;
    font-size: 23px;
}

.menu-but:not([disabled]):hover {
    outline: none;
    background: #18656e;
    cursor: pointer;
}
.menu-but:not([disabled]):focus {
    outline: none;
    border: 2px dashed #cecece;
    border-radius: 8px;
}
.menu-but:not([disabled]):active {
    outline: none;
    background: #999999;
    cursor: pointer;
}
.menu-but:disabled {
    cursor: default;
    color: #666666;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
}

.hidden {
    display: none;
}

input {
    border:none;
}

.basic-text {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80%;
    height: 30px;
    margin: 5px 0;
    outline: none;
    background: none;
    border: 2px solid #999999;
    border-radius: 8px;
    color: #333333;
    text-align: center;
    font-family: Comfortaa, cursive;
    font-size: 20px;
}
.basic-text:focus {
    outline: none;
    border: 2px dashed #cecece;
    border-radius: 8px;
}
.basic-text:disabled {
    opacity: 0.5;
    cursor: default;
}

.check-label {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

input[type=checkbox] {
    margin: auto;
}